body {
  background: linear-gradient(to right, #304352, #d7d2cc);
  min-height: 100vh;  
}

h5, p{
  color: black;
}

.navbar{
    background-color: #001d31;
}

.presentation{
  width: 60%;
  background: linear-gradient(to right, #d7d2cc, #304352);
  margin: 20%;
}

.card img{
    margin-top: 2%;
}

h2{
    text-align: center;
    padding-top: 5%;
}

/* Carousel */
.carousel{
  margin: 1% 3% !important;
}

.carousel-item {
    -webkit-perspective: initial;
    perspective: initial;
}

.carousel-item img {
    padding: 3rem;
    width:640px;
    height:360px;
}

.courses{
    height:400px;
    overflow-y: visible;
    border: 1px solid #ccc;
}

  /* With arrow tabs */
  
  .with-arrow .nav-link.active {
    position: relative;
  }
  
  .with-arrow .nav-link.active::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2b90d9;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  
  .nav-pills .nav-link {
    color: #555;
  }
  .text-uppercase {
    letter-spacing: 0.1em;
  }


@media (min-width: 576px) {
    .rounded-nav {
      border-radius: 50rem !important;
    }
    .presentation {
      width: 20%;
      margin: 10%;
  }
    .carousel{
      margin: 10% !important;
    }

    .carousel-item img {
      padding: 3rem;
      width:800px;
      height:700px;
  }
  }
  
  @media (min-width: 576px) {
    .rounded-nav .nav-link {
      border-radius: 50rem !important;
    }
  }
  
