@media only screen and (max-width: 800px) {
    .presentation{
        margin: 10rem auto;
    }
}
.presentation{
    margin: 6rem auto;
    max-width: 20rem;
    background: linear-gradient(to right, #d7d2cc, #304352);
    .btn{
        animation: color-button 10s infinite linear;
        &:hover{
            transform: scale(1.2);

        }
    }
}
