.navbar{
    background-color: #adddff;
}
.menu{
    margin: 5% 20% 0% 20%;
}

#chicken{
    background-color: #ff9a5f;
}

#beef{
    background-color: #ff6f6a;
}

#sushi{
    background-color: #7fc5f7;
}