.navbar-brand {
    text-align: center;
    width: 100%;
}

header nav a:hover{
    background-color: rgba(255, 0, 0, 0.445);
    transform: scale(1.3);
}

body{
    background-image: radial-gradient( rgba(253, 202, 249, 0.973), rgb(255, 165, 187), white);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}

h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: double underline;
    padding-top: 10%;
    padding-bottom: 10%;
}

li {
    list-style-type: none;
  }
  
.fa-times {
cursor: pointer;
}
