body{
    background-image: radial-gradient( rgba(253, 202, 249, 0.973), rgb(255, 165, 187), white);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: double underline;
}

p{
    font-size: 20px;
    padding: 10px;
}


form{
    display: block;
    border: 10px;
    border-color: red;
    border-style: groove;
    margin: 5% 30%;
    text-align: center;
    padding: 10px;
}

button{
    background: red;
    color: white;
    padding: 30px;
    font-size: 20;
}